body{
  background-color: #c34120;
  display: flex;
  flex-flow:nowrap column;
  align-items: center;
}
main{
  height: 40em;
  width: 61%;
  min-width: 400px;
  display: flex;
  justify-content: center;
}
.stack{
  width: 360px;
  margin: 10px auto;
}
textarea{
  width: 360px;
  height: 180px;
  background-color: #ffffb0;
  text-align: center;
  word-wrap: normal;
}
.shift{
  width: 111px;
  margin: 5px auto;
}
.crypt{
  width: 111px;
  margin: 5px auto;
}
.import-text{
  margin: 5px auto;
}
